/* Estilos Globais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.header-container {
    background-color: #28a745; /* Verde */
    color: #fff;
    padding: 20px;
    text-align: center;
}

.header-container h1.farm-name {
    margin: 0;
    font-size: 3em; /* Tamanho maior */
    font-weight: bold; /* Negrito */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.banner-content {
    padding: 150px 20px;
    text-align: center;
    color: #fff;
}

#banner {
    background-image: url('campo.jpg');
    background-size: cover;
    background-position: center;
}

.catalog-content {
    padding: 100px 20px;
}

.product {
    display: flex;
    margin-bottom: 50px;
}

.product-image {
    flex: 1;
    position: relative;
}

.product-image img {
    width: 100%;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.product-image img:hover {
    transform: scale(1.05);
}

.product-details {
    flex-grow: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-details h3 {
    margin-top: 0;
    font-size: 1.8em;
}

.product-details p {
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #218838;
}

footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.footer-container p {
    margin: 0;
}
